body{
      background-color:black;
        }

.logo-text{
    color:yellow;
    font-size:32px;
    font-weight:bolder;
    text-shadow:200px;
    } 

.zenmart-search {
  display:flex;
  align-items: center;
  width: 360px;
  margin: auto;
  justify-content: center;
}

.category-select {
  max-width: 70px;
  height:40px;
  font-size:12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding:2px 6px;
}

.search-input {
  height:40px;
  font-size:12px;
  padding:2px 8px; 
  border-radius:0;
}

.search-btn {
  height:40px;   
  background-color:yellow;
  padding:0 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-btn i {
  color: black;
  font-size: 14px;
}
